@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 207 88% 94%; /* #E3F2FD */
    --foreground: 210 10% 23%; /* a darker blue-gray for text */
    --card: 207 88% 98%; /* Lighter than background for cards */
    --card-foreground: 210 10% 23%;
    --popover: 207 88% 98%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 89% 68%; /* #64B5F6 */
    --primary-foreground: 210 40% 98%;
    --secondary: 207 90% 80%;
    --secondary-foreground: 210 10% 23%;
    --muted: 207 90% 85%;
    --muted-foreground: 210 10% 45%;
    --accent: 207 90% 61%; /* #42A5F5 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 80% 88%;
    --input: 207 80% 90%;
    --ring: 207 90% 61%;
    --chart-1: 207 89% 68%;
    --chart-2: 207 90% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 210 40% 98%;
    --card: 210 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 61%; /* #42A5F5 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 207 89% 68%; /* #64B5F6 */
    --accent-foreground: 210 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 207 89% 68%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
